{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Watchlist</h1>

    {% if watchlist %}

        {% for listing in watchlist %}

            <div class="container border p-2 m-2">
                <div class="row">
                    <div class="col">
                        <img src= "{{ listing.listing.image }}" alt="No Image Available" style="width: 300px; height: auto">
                    </div>
                    <div class="col text-left">
                        <h2 class="display-4">{{ listing.listing.title }}</h2>
                        <h3>{{ listing.listing.desc }}</h4>
                        {% if listing.listing.category %}
                            <h4>Category: {{ listing.listing.category }}</h4>
                        {% endif %}
                        {% if listing.listing.bids.all %}
                            <h4>Current Bid: ${{ listing.listing.bids.all.last.amount }}</h4>
                        {% else %}
                            <h4>Starting Bid: ${{ listing.listing.startingbid }}</h4>
                        {% endif %}
                        <a href="{% url 'listing' listing.listing.id %}" type="submit" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <br>
        <h2>No results - add a listing to your watchlist to see them here</h2>

    {% endif %}

{% endblock %}